[submodule "input/rassegnai-daily"]
	path = input/rassegnai-daily
	url = https://github.com/lucafregoso/rassegnai-daily.git
[submodule "input/sailes-daily"]
	path = input/sailes-daily
	url = https://github.com/lucafregoso/sailes-daily.git
